<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <head>
        <title><%= full_title(yield(:title)) %> </title>
  </head>
  <body>
    <h1>kidtunes</h1>
    <p>
    Interested in kidtunes, you can contact me <a href="http://refford.com/about">here</a>.
    </p>
  </body>
</html>
