<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <head>
    <title>kidtunes | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>
    Interested in kidtunes, you can contact me <a href="http://refford.com/about">here</a>.
    </p>
  </body>
</html>
