<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
        <title><%= full_title(yield(:title)) %> </title>
  </head>
  <body>
    <h1>kidtunes</h1>
    <p>
    Nothing much to help with right now, but here's where I'll put FAQs and such.
    </p>
  </body>
</html>

