<title><%= full_title(yield(:title)) %> </title>
<div class="Center her-unit">
  <h1>Welcome to kidtunes</h1>
  
  <h2>This is the home page for kidtunes</h2>
    Where kids can ask their parents to buy them songs and apps from iTunes.
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %> 
</div>

<%= link_to image_tag("kidtuneslogo.gif", alt: "kidtunes"), 'http://kidtun.es/' %>
